.row {
  margin-bottom: 20px;
}

#audiocontainer {
  margin-bottom: 20px;
}

#audiocontainer .row {
  margin-bottom: 5px;
}

.form-horizontal .control-label {
  width: auto;
}

.form-horizontal .control-group {
  margin-bottom: 0;
}

#audiocontainer .row audio {
  width: 140px;
}

#audiocontainer .row .spinedit {
  width: 25px;
}

.btn-hover:hover {
  background-image: none;
}

.btn-hover:hover i {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.btn-hover-danger:hover {
  color: #fff;
  background-color: #bd362f;
}